@font-face {
    font-family: winterKei;
    src: url(../fonts/winterKei.ttf);
}

@font-face {
    font-family: louis;
    src: url(../fonts/louis.ttf);
}
@font-face {
    font-family: Humana;
    src: url(../fonts/Humana.ttf);
}
html{
    background: -webkit-radial-gradient(ellipse at top,#fa5524,#f67562);
    background: radial-gradient(ellipse at top,#fa5524,#f67562); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    float: None;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
font {
    font-size: 6vmax;
    transition: .25s;
    font-variant: initial;
    font-family: winterKei;
    color: rgb(255, 255, 255);
    align-self: center;
    text-shadow: 0px 0px 3vh #03d3e2;
}
.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;

}
.card
{
    position: relative;
    max-width: 20vw;
    height: 50vh;
    background: -webkit-linear-gradient(to bottom,#2bf7f7,#50be95);
    background: linear-gradient(to bottom,#2bf7f7,#50be95);
    margin: 30px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5vh 5vw rgb(165, 172, 235);
    transition: 0.3s ease-in-out;
    
}
.card .content
{
    position: relative;
    margin-top: -14vh;
    padding: 1vw 2vh;
    text-align: center;
    color: lightcyan;
    visibility: hidden;
    font-family: louis;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
li{
    font-size: 3vh;
    font-family: louis;
    background: -webkit-Linear-gradient(to Left,#790107,#071062);
    background: Linear-gradient(to Left,#790107,#071062); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    color: darkorange;
}
h4 {
    font-size: 5vh;
    color: rgb(18, 14, 241);
    font-family: Humana;
}
h2 {
    font-size: 5vh;
    color: lightcoral;
    font-family: Humana;
}
img{
    min-width: 20vw;
    min-height: 50vh;
    max-height: 50vh;
    max-width: 20vw;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin: -3vh;
    transition-delay: 0.3s;
}
.card:hover
{
    height: 100%;
    background: -webkit-linear-gradient(to bottom,#2bf7f7,#50be95);
    background: linear-gradient(to bottom,#2bf7f7,#50be95); 
}
.box input[type="submit"] {
    font-family: winterKei;
    width: 13vmax;
    overflow: hidden;
    border: 1px solid transparent;
    padding: 1.5%;
    font-size: 0.9vmax;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 5px;
    background: -webkit-linear-gradient(to left,#81ee53,#d0ed03);
    background: linear-gradient(to left,#81ee53,#d0ed03); 
    color: rgb(236, 9, 9);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    outline: None;
}
.box input[type="submit"]:hover,
    .box input[type="submit"]:focus {
        background: -webkit-Linear-gradient(to right,#64f4b4,#d3fbfa);
        background: Linear-gradient(to right,#64f4b4,#d3fbfa);  
        color: #51e00e;
        outline: rgb(235, 219, 7);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }