<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logo.jpg">
    <link rel="stylesheet" href="static/css/fauna_style.css">
    <style>
        /* width */
        
         ::-webkit-scrollbar {
            width: 1.5vmin;
            height: 1.5vmin;
            padding-right: 1%;
        }
        /* Track */
        
         ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(5, 233, 176);
            border-radius: 10px;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #2bec04;
            border-radius: 10px;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #dac406;
        }
        
         ::-webkit-scrollbar-corner {
            margin: 20%
        }
    </style>
    <title>Fauna of Sikkim.</title>
</head>
<body>
    <font>Fauna of Sikkim</font>
    <br>
    <br>
    <br>
    <br>
    <h4>The wildlife in Sikkim consists of a plethora of animals and birds. And the credit goes to its altitude that rises from the sea level to high peaks. Although a small state but it abounds in rich variety of flora and fauna. Sikkim is a land having more than 4000 species of plants and 30% of all the birds found in the Indian sub-continent. The dense forests of the state are the natural homes to the wonderful creatures on earth(wildlife).</h4>
    <br>
    <br>
    <br>
    <hr>
    <div class="box">
    <div class="container">

        <div class="card">
                <div class="imgBx">
                  <img src="static/images/redpanda.jpg">
                </div>
              <div class="content">
                <h2>Red Panda</h2>
                <i>Ailurus fulgens</i>
                <p>The red panda is the state animal of sikkim. The red panda is a mammal native to the eastern Himalayas, southwestern China, Sikkim. It is listed as Endangered on the IUCN Red List because the wild population is estimated at fewer than 10,000 mature individuals and continues to decline due to habitat loss and fragmentation, poaching, and inbreeding depression.</p>
              </div>
            </div>

            <div class="card">
              <div class="imgBx">
                <img src="static/images/muskdeer.jpg">
              </div>
            <div class="content">
              <h2>Musk Deer</h2>
              <i>Moschus</i>
              <p>The musk deer is a part of endangered species and it can be found in the upper temperate zones. The barking deer is a common animal in Sikkim. On the treetops at altitudes between 6,000 and 12,000 ft.</p>
            </div>
          </div>

          <div class="card">
            <div class="imgBx">
              <img src="static/images/snowleopard.jpg">
            </div>
          <div class="content">
            <h2>snow leopard</h2>
            <i>Panthera uncia</i>
            <p>The snow leopard, also known as the ounce, is a large cat native to the mountain ranges of Central and South Asia. It is listed as Vulnerable on the IUCN Red List because the global population is estimated to number less than 10,000 mature individuals and is expected to decline about 10% by 2040.</p>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="static/images/wildass.jpg">
          </div>
        <div class="content">
          <h2>Wi ld Ass</h2>
          <i>Equus hemionus khur</i>
          <p>
            The Indian wild ass, also called the Ghudkhur, Khur or Indian onager in the local Gujarati language, is a subspecies of the onager native to Southern Asia. It is currently listed as Near Threatened by IUCN. The previous census in 2009 estimated a population of 4,038 Indian wild asses.</p>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="static/images/bluesheeps.jpg">
        </div>
      <div class="content">
        <h2>Blue Sheeps</h2>
        <i>Pseudois nayaur</i>
        <p>The bharal, also called the blue sheep, is a caprid native to the high Himalayas; it occurs in Sikkim, Bhutan, Gansu, Inner Mongolia, Myanmar, Nepal, Ningxia, Pakistan, Sichuan, and Tibet. The Helan Mountains of Ningxia have the highest concentration of bharal in the world, with 15 bharals per km² and 30,000 in total.</p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="static/images/blackbear.jpg">
      </div>
    <div class="content">
      <h2>Black bear</h2>
      <i>Ursus americanus</i>
      <p>The black bear, also known as the Asiatic black bear, moon bear and white-chested bear, is a medium-sized bear species native to Asia that is largely adapted to an arboreal lifestyle. It lives in the Sikkim and Himalayas, in the northern parts of the Indian subcontinent.</p>
    </div>
  </div>

      <div class="card">
        <div class="imgBx">
          <img src="static/images/marmots.jpg">
        </div>
      <div class="content">
        <h2>Marmots</h2>
        <i>genus Marmota</i>
        <p>Marmots are relatively large ground squirrels in the genus Marmota, with 15 species living in Asia, Europe and North America mainly in Sikkim. These herbivores are active during the summer when often found in groups, but are not seen during the winter when they hibernate underground.</p>
      </div>
    </div>

        <div class="card">
          <div class="imgBx">
            <img src="static/images/bloodpheasent.jpg">
          </div>
        <div class="content">
          <h2>Blood pheasent</h2>
          <i>Ithaginis cruentus</i>
          <p>The blood pheasent is the state bird of sikkim. The blood pheasant is the only species in genus Ithaginis of the pheasant family. It is a relatively small, short-tailed pheasant that is widespread and is fairly common in eastern Himalayas, ranging across India.</p>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="static/images/vulture.jpg">
        </div>
      <div class="content">
        <h2>Vultures</h2>
        <i>Gyps indicus</i>
        <p>A vulture is a scavenging bird of prey. The New World vultures include the California condor, the Andean condor and the Sikkim condor; the Old World vultures include the birds that are seen scavenging on carcasses of dead animals on African plains. Some traditional Old World vultures are not closely related to the others.</p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="static/images/eagle.jpg">
      </div>
    <div class="content">
      <h2>Eagles</h2>
      <i>Aquila pennata</i>
      <p>Eagles are large, powerfully built birds of prey, with heavy heads and beaks. Even the smallest eagles, such as the booted eagle, which is comparable in size to a common buzzard or red-tailed hawk, have relatively longer and more evenly broad wings, and more direct, faster flight – despite the reduced size of aerodynamic feathers.</p>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="static/images/whistlingthursh.jpg">
    </div>
  <div class="content">
    <h2>Whistling Thrush</h2>
    <i>Myophonus</i>
    <p>
      The whistling thrushes comprise a genus Myophonus of the Old World flycatcher family Muscicapidae. They are all medium-sized mostly insectivorous or omnivorous birds. They are all brightly coloured species found in India (Mainly in Sikkim) and southeast Asia.</p>
  </div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/minivets.jpg">
  </div>
<div class="content">
  <h2>M i n i vets</h2>
  <i>Pericrocotus</i>
  <p>The minivets are passerine birds belonging to the genus Pericrocotus in the cuckooshrike family Campephagidae. There are about 15 species, occurring mainly in forests in southern and eastern Asia. They are fairly small, slender birds with long tails and an erect posture.</p>
</div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/bulbul.jpg">
  </div>
<div class="content">
  <h2>Bulbul</h2>
  <i>Pycnonotidae</i>
  <p>The bulbuls are a family, Pycnonotidae, of medium-sized passerine songbirds, and includes the greenbul, brownbul, leaflove, and bristlebill. The family is distributed across most of Africa and into the Middle East, tropical Asia to Indonesia, and north as far as Japan.</p>
</div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/pheasant.jpg">
  </div>
<div class="content">
  <h2>Pheasents</h2>
  <i>Phasianidae</i>
  <p>
    Pheasants are birds of several genera within the subfamily Phasianinae, of the family Phasianidae in the order Galliformes. Though they can be found world over in introduced populations, the pheasant genera native range is restricted to Asia.</p>
</div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/tuftedduck.jpg">
  </div>
<div class="content">
  <h2>Tufted Duck</h2>
  <i>Phasianidae</i>
  <p>The tufted duck is a small diving duck with a population of close to one million birds, found in northern Eurasia. The scientific name is derived from Ancient Greek aithuia an unidentified seabird mentioned by authors including Hesychius and Aristotle, and Latin, fuligo "soot" and gula "throat".</p>
</div>
</div>

        </div>
    </div>

            <form class="box" method="post">
              <input type="submit" name="redirect" value="flora" style="margin-right: 5%; outline:none">
              <input type="submit" name="redirect" value="home" style="margin-right: 5%; outline:none">
              <input type="submit" name="redirect" value="sources" style=" outline:none">
          </form>

</body>
</html>

