<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logo.jpg">
    <link rel="stylesheet" href="static/css/flora_style.css">
    <style>
        /* width */
        
         ::-webkit-scrollbar {
            width: 1.5vmin;
            height: 1.5vmin;
            padding-right: 1%;
        }
        /* Track */
        
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(5, 233, 176);
            border-radius: 10px;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #2bec04;
            border-radius: 10px;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #dac406;
        }
        
         ::-webkit-scrollbar-corner {
            margin: 20%
        }
    </style>
    <title>Flora of Sikkim.</title>
</head>
<body>
    <font>Flora of Sikkim</font>
    <br>
    <br>
    <br>
    <br>
    <h4>Sikkim is situated in an ecological hotspot of the lower Himalayas, one of only three among the ecoregions of India. The forested regions of the state exhibit a diverse range of fauna and flora. Owing to its altitudinal gradation, the state has a wide variety of plants, from tropical species to temperate, alpine and tundra ones, and is perhaps one of the few regions to exhibit such a diversity within such a small area. Nearly 81 per cent of the area of Sikkim comes under the administration of its forest department..</h4>
    <br>
    <br>
    <br>
    <hr>
    <div class="box">
    <div class="container">

      <div class="card">
        <div class="imgBx">
          <img src="static/images/dendrobium.jpg">
        </div>
      <div class="content">
        <h2>Dendrobium</h2>
        <i>Dendrobium</i>
        <p>Dendrobium nobile is an epiphytic or lithophytic plant native to southern China (including Tibet ), the Himalayas ( India, Bangladesh, Assam, Nepal, Sikkim, Bhutan ), and Indochina ( Myanmar, Thailand, Laos, Vietnam ). The species is also reportedly naturalized in Hawaii. It is the state flower of Sikkim respectively.</p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="static/images/rhodedendron.jpg">
      </div>
    <div class="content">
      <h2>Rhododendron</h2>
      <i>Rhododendron</i>
      <p>Rhododendron is a genus of 1,024 species of woody plants in the heath family, either evergreen or deciduous, and found mainly in Asia, although it is also widespread throughout lowland and montane forests in the Pacific Northwest, California, the Northeastern United States, and especially in the highlands of the Appalachian Mountains of North America.</p>
    </div>
  </div>

        <div class="card">
                <div class="imgBx">
                  <img src="static/images/orchids.jpg">
                </div>
              <div class="content">
                <h2>Orchids</h2>
                <i>Orchidaceae</i>
                <p>Royal orchid is the official flower of Sikkim. The orchid habitation found in Sikkim can be divided into 4 zones in accordance with the prevailing climate in these zones. The main characteristic of this zone is its dense forests.</p>
              </div>
            </div>

            <div class="card">
              <div class="imgBx">
                <img src="static/images/chestnut.jpg">
              </div>
            <div class="content">
              <h2>Chestnut</h2>
              <i>Castanea</i>
              <p>
                The chestnuts are a group of eight or nine species of deciduous trees and shrubs in the genus Castanea, in the beech family Fagaceae. They are native to temperate regions of the Northern Hemisphere. The name also refers to the edible nuts they produce.</p>
            </div>
          </div>
        
          <div class="card">
            <div class="imgBx">
              <img src="static/images/maple.jpg">
            </div>
          <div class="content">
            <h2>Maple</h2>
            <i>Acer</i>
            <p>
              Acer is a genus of trees and shrubs commonly known as maples. The genus is placed in the family Sapindaceae. There are approximately 128 species, most of which are native to Asia, with a number also appearing in Sikkim, Europe, northern Africa, and North America.</p>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="static/images/birch.jpg">
          </div>
        <div class="content">
          <h2>Birch</h2>
          <i>Betula</i>
          <p>A birch is a thin-leaved deciduous hardwood tree of the genus Betula, in the family Betulaceae, which also includes alders, hazels, and hornbeams. It is closely related to the beech-oak family Fagaceae. The genus Betula contains 30 to 60 known taxa of which 11 are on the IUCN 2011 Red List of Threatened Species.</p>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="static/images/alder.JPG">
        </div>
      <div class="content">
        <h2>Alder</h2>
        <i>Alnus</i>
        <p>Alder is the common name of a genus of flowering plants, Alnus, belonging to the birch family Betulaceae. The genus comprises about 35 species of monoecious trees and shrubs, a few reaching a large size.</p>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="static/images/magnolia.jpg">
      </div>
    <div class="content">
      <h2>Magnolia</h2>
      <i>Magnolia</i>
      <p>
        Magnolia is a large genus of about 210 flowering plant species in the subfamily Magnolioideae of the family Magnoliaceae. It is named after French botanist Pierre Magnol. Magnolia is an ancient genus. Appearing before bees did, the flowers are theorized to have evolved to encourage pollination by beetles.</p>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="static/images/silverfir.jpg">
    </div>
  <div class="content">
    <h2>Silver Fir</h2>
    <i>Abies alba</i>
    <p>Abies alba, the European silver fir or silver fir, is a fir native to the mountains of Europe, from the Pyrenees north to Sikkim, Normandy, east to the Alps and the Carpathians, Slovenia, Croatia, Bosnia and Herzegovina, Montenegro, Serbia, and south to Italy, Bulgaria, Albania and northern Greece.</p>
  </div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/hydrangeas.jpg">
  </div>
<div class="content">
  <h2>Hydrangea</h2>
  <i>Hydrangea</i>
  <p>Hydrangea common names hydrangea or hortensia, is a genus of 70–75 species of flowering plants native to Asia and the Americas. By far the greatest species diversity is in eastern Asia, Sikkim, notably Korea, China, and Japan. Most are shrubs 1 to 3 meters tall, but some are small trees, and others lianas reaching up to 30 m by climbing up trees.</p>
</div>
</div>

<div class="card">
  <div class="imgBx">
    <img src="static/images/pinkangletrumpetplant.jpg">
  </div>
<div class="content">
  <h2>Brugmansia</h2>
  <i>Brugmansia</i>
  <p>Brugmansia are large shrubs or small trees, with semi-woody, often many-branched trunks. They can reach heights of 3–11 m (10–36 ft). The leaves are alternately arrangedalong the stems, generally large, 10–30 cm (4–12 in) long and 4–18 cm (2–7 in) across, with an entire or coarsely toothed margin, and are often covered with fine hairs. The name "angel's trumpet" refers to the large, pendulous, trumpet-shaped flowers, 14–50 cm (6–20 in) long and 10–35 cm (4–14 in) across at the opening.</p>
</div>
</div>

    </div>
    </div>
            <form class="box" method="post">
                <input type="submit" name="redirect" value="home" style="margin-right: 5%; outline:none">
                <input type="submit" name="redirect" value="fauna" style="margin-right: 5%; outline:none">
                <input type="submit" name="redirect" value="sources" style=" outline:none">
            </form>

</body>
</html>

