<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="static/images/logo.jpg">
    <link rel="stylesheet" href="static/css/invalid_style.css">
    <title>Invalid Location</title>
</head>
<body>
    <h1>ERROR 404....</h1>
    <p>You have made a invalid request which is not defined,Contact - Akshat for this</p>
    <form class="box" method="post">
        <input type="submit" name="redirect" value="home" style="margin-right: 5%; outline:none">
    </form>
</body>
</html>